<!DOCTYPE html>
<html style="height: 100%;" lang="" >
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
      <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
      <title>Back 4 blood zwat progress app</title>
  </head>


  <body class="text-center d-flex align-items-center justify-content-center" style="background-image: url('Back-4-Blood-Wallpaper-Pictures.jpg');">
    <noscript>
      <strong>We're sorry but it doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app" class="container">
        <template v-if="!hasData">
                <div class="d-flex flex-column" style="background-color: rgba(0, 0, 0, 0.77);border: 1px solid red;border-radius: 15px;">
                    <div class="p-2" style="margin-top: 30px;"><h1>Back <span style="color:red;">4</span> blood zwat progress checker</h1></div>
                    <div class="p-2" style="margin-top: 30px;">
                        Select PlayerProfileSettings.sav which is usually located:<br/>
                        <b>C:\Users\&lt;your username&gt;\AppData\Local\Back4Blood\Steam\Saved\SaveGames\PlayerProfileSettings.sav</b>
                    </div>
                    <div class="p-2">
                        <label class="text-reader" style="margin-top: 30px;margin-bottom: 50px;cursor: pointer;">
                            <input style="cursor: pointer;" type="file" @change="parseFile">
                        </label>
                    </div>
                </div>

        </template>
        <template v-else>
            <div class="d-flex flex-column" style="background-color: rgba(0, 0, 0, 0.77);border: 1px solid red;border-radius: 15px;">
                <div class="p-2" style="margin-top: 30px;"><h1>Back <span style="color:red;">4</span> blood zwat progress checker</h1></div>
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-3">
                        <button type="button" class="btn btn-md btn-primary" :disabled="disabledSelect" @click="selectAll()">Select all</button>
                    </div>
                    <div class="col-md-3">
                        <button type="button" class="btn btn-md btn-danger" :disabled="disabledDeselect" @click="deselectAll()">Deselect all</button>
                    </div>
                    <div class="col-md-3"></div>
                </div>
                <div class="row" style="margin-bottom: 50px;">
                    <div class="col-md-1"></div>
                    <div class="col-md-1"></div>
                    <template v-for="(hero, index) in heroes">
                        <div class="col-md-1">
                            <img @click="toggleActive(index)" class="hero-img" :src="hero.image" width="60" :style="{opacity: !activeHero(index) ? '0.6' : '1'}">
                        </div>
                    </template>
                    <div class="col-md-1"></div>
                    <div class="col-md-1"></div>
                </div>

                <div class="row" style="margin-bottom: 50px;">
                    <div class="col-md-1">
                        <b>ACT 1</b>
                    </div>
                    <div class="col-md-3">
                        <span class="circle" :style="buildStyle('evans_a')"></span>
                        <span class="circle" :style="buildStyle('evans_b')"></span>
                        <span class="circle" :style="buildStyle('evans_c')"></span>
                        <span class="circle" :style="buildStyle('evans_d')"></span>
                    </div>
                    <div class="col-md-2">
                        <span class="circle" :style="buildStyle('finley_rescue_a')"></span>
                        <span class="circle" :style="buildStyle('finley_rescue_b')"></span>
                        <span class="circle" :style="buildStyle('finley_rescue_c')"></span>
                    </div>
                    <div class="col-md-2">
                        <span class="circle" :style="buildStyle('finley_diner_a')"></span>
                        <span class="circle" :style="buildStyle('finley_diner_a')"></span>
                    </div>
                    <div class="col-md-4">
                        <span class="circle" :style="buildStyle('bluedog_a')"></span>
                        <span class="circle" :style="buildStyle('bluedog_b')"></span>
                        <span class="circle" :style="buildStyle('bluedog_c')"></span>
                        <span class="circle" :style="buildStyle('bluedog_d')"></span>
                    </div>
                </div>

                <div class="row" style="margin-bottom: 30px;">
                    <div class="col-md-1">
                        <b>ACT 2</b>
                    </div>
                    <div class="col-md-2">
                        <span class="circle" :style="buildStyle('finley_police_a')"></span>
                        <span class="circle" :style="buildStyle('finley_police_b')"></span>
                    </div>
                    <div class="col-md-5">
                        <span class="circle" :style="buildStyle('clog_a')"></span>
                        <span class="circle" :style="buildStyle('clog_b')"></span>
                        <span class="circle" :style="buildStyle('clog_c')"></span>
                        <span class="circle" :style="buildStyle('clog_d')"></span>
                        <span class="circle" :style="buildStyle('clog_e')"></span>
                    </div>
                    <div class="col-md-4">
                        <span class="circle" :style="buildStyle('finley_church_a')"></span>
                        <span class="circle" :style="buildStyle('finley_church_b')"></span>
                        <span class="circle" :style="buildStyle('finley_church_c')"></span>
                    </div>
                </div>

                <div class="row" style="margin-bottom: 30px;">
                    <div class="col-md-1">
                        <b>ACT 3</b>
                    </div>
                    <div class="col-md-6">
                        <span class="circle" :style="buildStyle('manor_a')"></span>
                        <span class="circle" :style="buildStyle('manor_b')"></span>
                        <span class="circle" :style="buildStyle('manor_c')"></span>
                        <span class="circle" :style="buildStyle('manor_d')"></span>
                        <span class="circle" :style="buildStyle('manor_e')"></span>
                    </div>
                    <div class="col-md-5">
                        <span class="circle" :style="buildStyle('cdc_a')"></span>
                        <span class="circle" :style="buildStyle('cdc_b')"></span>
                        <span class="circle" :style="buildStyle('cdc_c')"></span>
                        <span class="circle" :style="buildStyle('cdc_d')"></span>
                    </div>
                </div>


                <div class="row" style="margin-bottom: 30px;">
                    <div class="col-md-1">
                        <b>ACT 4</b>
                    </div>
                    <div class="col-md-2">
                        <span class="circle" :style="buildStyle('titan_a')"></span>
                    </div>
                    <div class="col-md-9">

                    </div>
                </div>


            </div>

        </template>
        </div>
        <style>
            html,
            body {
                height: 100%;
                background-color: #333;
            }

            body {
                display: -ms-flexbox;
                display: -webkit-box;
                display: flex;
                -ms-flex-pack: center;
                -webkit-box-pack: center;
                justify-content: center;
                color: #fff;
                text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
                box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
            }

            #app {
                height: 80%;
            }

            .circle:before {
                content: ' \25CF';
                font-size: 30px;
                border-radius: 25px;
                line-height: 0px;
                display: inline-block;
                padding-top:8px;
                width: 20px;
                height:20px;
            }

            .circle {
                margin-right: 10px;
                border-radius: 25px;
                line-height: 0px;
                display: inline-block;
            }

            .hero-img {
                cursor: pointer;
                box-shadow: 0px 0px 8px 6px rgba(255, 48, 48, 0.2);
                transition: opacity 0.5s ease-in-out;
                opacity: 0.5;
            }

            .hero-img:hover {
                opacity: 1;
            }
        </style>
  </body>
  <script src="main.js"></script>
</html>
